# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
minute = 200
hour = round(minute/60,2)
print(str(minute)+" minutes "+"in hours is "+str(hour)+" hours")

200 minutes in hours is 3.33 hours

**Objectives:**
- Jupyter Notebooks
- List popular languages for Data Science
- Data science basics

## Author
Xi.L